.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.create-sales-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-button {
  border: 1px;
  color: rgb(47, 44, 44);
  cursor: pointer;
  background-color: #a0b6ae;
  padding: 4px 8px;
  border-radius: 4px;
}